.header {
    font-size:26px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
  }

.team1Logo {
  margin-left: -200px;
}

.team1Name {
    font-size: 42px;
    color: black;
    text-align: left;
    margin-left: -200px;
}

.vs{
  
}

.team2Logo {
  margin-right: -200px;
}

.team2Name {
    font-size: 42px;
    color: black;
    text-align: right;
    margin-right: -200px;
}

.box {
    height: 400px;
    width: 400px;
  }